<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url='/subDirectory/new-page'">
    <title>Old-Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/counter-script.js" defer></script>
</head>
<body>
    <h1>I'm Dead</h1>
    <h2>Will redirect <span id="Counter"></span> to the new page <a href="/subDirectory/new-page">New Page link</a></h2>
    <img src="/img/dead.jpg" alt="dead meme">
</body>
</html>