*{
    padding: 0;

}
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 400px;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

ul a{
    color: white;
}